# Python Tutorial

In [1]:
print("Hello World!")
print("Hello", "World!")
print("Hello " + "World!")

Hello World!
Hello World!
Hello World!

## Comments

In [2]:
# This is a single line comment.

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

## Operators

### Arithmetic Operators

In [3]:
# Addition
print('5 + 3 =', 5 + 3)

# Subtraction
print('5 - 3 =', 5 - 3)

# Multiplication
print('5 * 3 =', 5 * 3)

# Exponentiation
print('2 ^ 5 =', 2 ** 5)
#print('2 ^ 5 =', pow(2,5))

# Division
print('13 / 3 =', 13 / 3)

# Floor division (the floor division // rounds the result down to the nearest whole number)
print('15 // 2 =', 15 // 2)

# Modulus
print('5 % 2 =', 5 % 2)

5 + 3 = 8
5 - 3 = 2
5 * 3 = 15
2 ^ 5 = 32
13 / 3 = 4.333333333333333
15 // 2 = 7
5 % 2 = 1

### Assignment Operators

In [4]:
x = 5

x += 3     # x = x + 3 = 5 + 3 = 8
print(x)

x -= 3     # x = x - 3 = 8 - 3 = 5
print(x)

x *= 3     # x = x * 3 = 5 * 3 = 15
print(x)

x **= 3    # x = x ** 3 = 15 ** 3 = 3375
print(x)

x /= 3     # x = x / 3 = 3375 / 3 = 1125.0
print(x)

x //= 3    # x = x // 3 = 1125 // 3 = 375.0
print(x)

x %= 3     # x = x % 3 = 375.0 % 3 = 0.0
print(x)

8
5
15
3375
1125.0
375.0
0.0

### Comparison Operators

In [5]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

### Logical Operators

In [6]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x > 3 and x < 10))

True
True
False

## Variables

In [7]:
i = 5                                        # Integer
f = 3.14                                     # Float
s1 = 'string variable with single qoutes'    # String
s2 = "string variable with double qoutes"    # String
b = True                                     # Boolean
c = 3 + 4j                                   # Complex

print('The type of variable i is', type(i))
print('The type of variable f is', type(f))
print('The type of variable s1 is', type(s1))
print('The type of variable s2 is', type(s2))
print('The type of variable b is', type(b))
print('The type of variable c is', type(c))

The type of variable i is <class 'int'>
The type of variable f is <class 'float'>
The type of variable s1 is <class 'str'>
The type of variable s2 is <class 'str'>
The type of variable b is <class 'bool'>
The type of variable c is <class 'complex'>

In [8]:
l = [1,2,3,4]                      # List
#l = list((1,2,3,4))
t = (1,2,3,4)                      # Tuple
#t = tuple((1,2,3,4))
s = {1,2,3,4}                      # Set
#s = set((1,2,3,4))
d = {'Ali': 24, 'Mohammad': 27}    # Dictionary
#d = dict('Ali'=24, 'Mohammad'=27)

print('The type of variable l is', type(l))
print('The type of variable t is', type(t))
print('The type of variable s is', type(s))
print('The type of variable d is', type(d))

The type of variable l is <class 'list'>
The type of variable t is <class 'tuple'>
The type of variable s is <class 'set'>
The type of variable d is <class 'dict'>

### Casting

In [9]:
i = int(1)        # i = 1
f = float(1)      # f = 1.0
s = str(1)        # s = '1'
b0 = bool(0)      # b0 = False
b1 = bool(1)      # b1 = True
c = complex(1)    # c = (1 + 0j)

print('The value of variable i is', i)
print('The value of variable f is', f)
print('The value of variable s is', s)
print('The value of variable b0 is', b0)
print('The value of variable b1 is', b1)
print('The value of variable c is', c)

The value of variable i is 1
The value of variable f is 1.0
The value of variable s is 1
The value of variable b0 is False
The value of variable b1 is True
The value of variable c is (1+0j)

### Variable Names

Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [10]:
myvar = "Kourosh"
my_var = 'Ali'
_my_var = 2.7
myVar = 75
MYVAR = True
myvar2 = False

print('myvar =', myvar)
print('my_var =', my_var)
print('_my_var =', _my_var)
print('myVar =', myVar)
print('MYVAR =', MYVAR)
print('myvar2 =', myvar2)

myvar = Kourosh
my_var = Ali
_my_var = 2.7
myVar = 75
MYVAR = True
myvar2 = False

#### Multi Words Variable Names

##### Camel Case

In [11]:
myVariableName = "Kourosh"

##### Pascal Case

In [12]:
MyVariableName = "Kourosh"

##### Snake Case

In [13]:
my_variable_name = "Kourosh"

### Assign Multiple Values

In [14]:
x, y, z = "Orange", "Banana", "Cherry"

print('The value of variable x is', x)    # x = "Orange"
print('The value of variable y is', y)    # y = "Banana"
print('The value of variable z is', z)    # z = "Cherry"

The value of variable x is Orange
The value of variable y is Banana
The value of variable z is Cherry

In [15]:
x = y = z = "Orange"

print('The value of variable x is', x)    # x = "Orange"
print('The value of variable y is', y)    # y = "Orange"
print('The value of variable z is', z)    # z = "Orange"

The value of variable x is Orange
The value of variable y is Orange
The value of variable z is Orange

In [16]:
fruits = ["Apple", "Banana", "Cherry"]
x, y, z = fruits

print('The value of variable x is', x)    # x = "Apple"
print('The value of variable y is', y)    # y = "Banana"
print('The value of variable z is', z)    # z = "Cherry"

The value of variable x is Apple
The value of variable y is Banana
The value of variable z is Cherry

## String

In [17]:
s1 = " This is a single line string variable. "
s2 = """This is a
multiline string variable."""

print("The value of the s1 variable is:", s1)
print("The value of the s2 variable is:", s2)

The value of the s1 variable is:  This is a single line string variable.
The value of the s2 variable is: This is a
multiline string variable.

**Note:** in the result, the line breaks are inserted at the same position as in the code.

In [18]:
print('line 1:', s1)
#print(s1[:])

print('line 2:', s1[1])

print('line 3:', s1[1:5])

print('line 4:', s1[6:])

print('line 5:', s1[1:4:2])

print('line 6:', s1[::-1])

print('line 7:', s1[-10:-2])

line 1:  This is a single line string variable.
line 2: T
line 3: This
line 4: is a single line string variable.
line 5: Ti
line 6:  .elbairav gnirts enil elgnis a si sihT
line 7: variable

In [19]:
print('string' in s1)
print('String' not in s1)

True
True

In [20]:
print(len(s1))

40

In [21]:
print(s1.upper())
print(s1.lower())

 THIS IS A SINGLE LINE STRING VARIABLE.
 this is a single line string variable.

The $\textit{strip()}$ method removes any whitespace from the beginning or the end

In [22]:
print(s1.strip())

This is a single line string variable.

In [23]:
print(s1.replace('i', 'j'))

 Thjs js a sjngle ljne strjng varjable.

In [24]:
print(s1.split(' '))

['', 'This', 'is', 'a', 'single', 'line', 'string', 'variable.', '']

### Format Strings

In [25]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."

print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Characters

To insert characters that are illegal in a string, use an escape character. An escape character is a backslash \ followed by the character you want to insert.

In [27]:
print("We are the so-called "Vikings" from the north.")

SyntaxError: invalid syntax (2741824435.py, line 1)

In [28]:
print("We are the so-called \"Vikings\" from the north.")

We are the so-called "Vikings" from the north.

Other escape characters used in Python:

In [29]:
print('It\'s alright.')
print("This will insert one \\ (backslash).")
print("Hello\nWorld!")
print("Hello\tWorld!")
print("Hello \bWorld!")

It's alright.
This will insert one \ (backslash).
Hello
World!
Hello	World!
Hello World!

## Boolean

In [30]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [31]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

The $\textit{isinstance()}$ function, which can be used to determine if an object is of a certain data type:

In [32]:
x = 200

print(isinstance(x, int))
#print(type(x) == int)

True

## Lists

In [33]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
#thislist = list(("apple", "banana", "cherry", "apple", "cherry"))

print(thislist)
print('The type of thislist variable is', type(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
The type of thislist variable is <class 'list'>

A list can contain different data types:

In [34]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [35]:
print('The number of items in the list is', len(list1))

The number of items in the list is 5

### Access List Items

In [36]:
print(thislist[1])
print(thislist[-1])

banana
cherry

In [37]:
print(thislist[2:5])

print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

['cherry', 'apple', 'cherry']
['apple', 'banana', 'cherry', 'apple']
['cherry', 'apple', 'cherry']
['banana', 'cherry', 'apple']

### Change List Items

In [38]:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'apple', 'cherry']

In [39]:
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'apple', 'cherry']

In [40]:
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'cherry', 'apple', 'cherry']

### List Methods

#### Add List Items

In [41]:
thislist.append("orange")
print(thislist)

['apple', 'watermelon', 'cherry', 'apple', 'cherry', 'orange']

In [42]:
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry', 'orange']

In [43]:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']

The $\textit{extend()}$ method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [44]:
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

#### Sort Lists

In [45]:
thislist.sort()
print(thislist)

['apple', 'apple', 'cherry', 'cherry', 'kiwi', 'mango', 'orange', 'orange', 'papaya', 'pineapple', 'watermelon', 'watermelon']

In [46]:
thislist.sort(reverse = True)
#thislist.reverse()
print(thislist)

['watermelon', 'watermelon', 'pineapple', 'papaya', 'orange', 'orange', 'mango', 'kiwi', 'cherry', 'cherry', 'apple', 'apple']

#### Remove List Items

In [47]:
thislist.remove("apple")
print(thislist)

['watermelon', 'watermelon', 'pineapple', 'papaya', 'orange', 'orange', 'mango', 'kiwi', 'cherry', 'cherry', 'apple']

The $\textit{pop()}$ method removes the specified index.

In [48]:
thislist.pop(1)
print(thislist)

['watermelon', 'pineapple', 'papaya', 'orange', 'orange', 'mango', 'kiwi', 'cherry', 'cherry', 'apple']

If you do not specify the index, the $\textit{pop()}$ method removes the last item.

In [49]:
thislist.pop()
print(thislist)

['watermelon', 'pineapple', 'papaya', 'orange', 'orange', 'mango', 'kiwi', 'cherry', 'cherry']

The $\textit{del}$ keyword also removes the specified index:

In [50]:
del thislist[0]
print(thislist)

['pineapple', 'papaya', 'orange', 'orange', 'mango', 'kiwi', 'cherry', 'cherry']

The $\textit{clear()}$ method empties the list. The list still remains, but it has no content.

In [51]:
thislist.clear()
print(thislist)

[]

The $\textit{del}$ keyword can also delete the list completely.

In [52]:
del thislist
print(thislist)

NameError: name 'thislist' is not defined

### Python If ... Else

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

if a > b:
    print("A")
else:
    print("B")

This technique is known as $\textbf{Ternary Operators}$, or $\textbf{Conditional Expressions}$.

In [53]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [54]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [55]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

#### Nested If

In [56]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

### While Loop

In [57]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [58]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

### For Loops

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [60]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [61]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [62]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [63]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Python Functions

In [64]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Kourosh", "Bagheri")

Kourosh Bagheri

In [65]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [66]:
def my_function(x):
    return 5 * x

print(my_function(3))

15